{% extends 'myauth/base.html' %}

{% load i18n %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
<style>
    .login{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    }

</style>
<div class="login">
    <form method="post">
        {% csrf_token %}
        {% if error %}
            <p style="color: red">
            {{ error }}
            </p>
        {% endif %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{% translate 'Username' %}</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{% translate 'Password' %}</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">{% translate 'Login' %}</button>
            <a href="{% url 'myauth:register' %}"><input type="button" class="btn btn-primary" value="Register Now"></a>
    </form>
</div>
{% endblock %}
