{% extends 'myauth/base.html' %}

{% block title %}
<title>{{ user.username }}'s Personal Page</title>
{% endblock %}
<style>
    div{
    border: 2px solid red;
    }
</style>

{% block body %}
<style>
    div{
    border: 2px solid grey;
    }


    .avatar{
    height: 200px;
    width: 200px;
    border: 3px solid yellow;
    }

    .all{
    width:100px;
    height:100px;
    border: 3px solid black;
    }

    .nophoto{
    width:100px;
    height:100px;
    border: 3px solid red;
    }

    
</style>

<div>
    {% if user.profile.user_avatar %}
        <img class="avatar" src="{{ user.profile.user_avatar.url}}" alt="{{ user.avatar.name }}">
    {% else %}
        <img class="avatar" src="https://cdn.icon-icons.com/icons2/3065/PNG/512/profile_user_account_icon_190938.png">
    {% endif %}
    <div class="images">
        {% if data %}
            {% for image in data %}
                <img class="all" src="{{ MEDIA_URL }}/media/{{ image.images }}" alt="User image">
            {% endfor %}
        {% else %}
            <img class='nophoto' src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
        {% endif %}
    </div>
    <h3>User: {{ user.username }}</h3>
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <h3>Email: {{ user.email }}</h3>
    <h3>{{ user.status }}</h3>
    {% if user.is_superuser %}
        <a href='/shop/product/add/'>Create Product</a>
    {% endif %}
    <a href='/shop/orders/create/'>Create order</a>
    {% if user.is_superuser %}
        <a href='/shop/orders/my/'>All Orders</a>
    {% else  %}
        <a href='/shop/orders/my/'>My Orders</a>
    {% endif %}
    <a href="{% url 'myauth:password_change' %}">Change Password</a>
    <a href="{% url 'myauth:edit_user' %}">EDit Profile</a>
    <a href="{% url 'myauth:logout' %}">Logout</a>
</div>
{% endblock %}
