{% extends 'shop/base.html' %}

{% block title %}
    <title>Add new product</title>
{% endblock%}

{% block body %}
    <h2>Add New Product</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">
                Add Product
            </button>
        </form>
    </div>
<article>
    <footer>
        <a href="{% url 'shop:products' %}">All products</a><br>
        <a href="{% url 'shop:orders' %}">Orders</a><br>
        <a href="{% url 'shop:create_order' %}">Create order</a><br>
    </footer>
</article>
{% endblock %}