{% extends 'shop/base.html' %}

{% block title %}
    <title>Add new product</title>
{% endblock%}

{% block body %}
    <h2>Add New Product</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <label for="id_name">Product Name:</label>
            <input placeholder="Product Name" type="text" name="name" id="id_name" required><br>
            <label for="id_price" >Price:</label>
            <input placeholder="Price" type="number" name="price" id="id_price" required><br>
            <label for="description">Description:</label>
            <textarea placeholder="Description Text" name="description" id="description" required></textarea>
            <button type="submit">
                Add Product
            </button>
        </form>
    </div>
<article>
    <footer>
        <a href="{% url 'shop:products' %}">All products</a><br>
        <a href="{% url 'shop:orders' %}">Orders</a><br>
        <a href="{% url 'shop:create_order' %}">Create order</a><br>
    </footer>
</article>
{% endblock %}