{% extends 'shop/base.html' %}

{% block title %}
    <title>All products</title>
{% endblock%}

{% block body %}
    <ul>
        {% for item in products %}
        <h3>Name: <a href="{% url 'shop:product_details' pk=item.pk %}">{{ item.name }}</a></h3>
            <li>Archived:
                {% if item.archived %}
                    yes
                {% else %}
                    no
                {% endif %}
            </li>
        <hr>
        {% endfor %}

    </ul>

<article>
    <footer>
        <a href="{% url 'shop:orders' %}">Orders</a><br>
        <a href="{% url 'shop:add_product' %}">Add product</a><br>
        <a href="{% url 'shop:create_order' %}">Create order</a><br>
    </footer>
</article>

{% endblock %}