{% extends 'shop/base.html' %}

{% block title %}
    <title>All products</title>
{% endblock%}

{% block body %}
    <ul>
        {% for item in products %}
        <h3>Name:{{ item.name }}</h3>
            <li>Price: $ {{ item.price }}</li>
            <li>Description: {{ item.description }}</li>
            <li>Created at: {{ item.created_at }}</li>
            <li>Archived:
                {% if item.archived %}
                    yes
                {% else %}
                    no
                {% endif %}
            </li>
        <hr>
        {% endfor %}

    </ul>
    <div>
        <a href="{% url 'shop:add_product' %}">Add Product</a>
    </div>

{% endblock %}